/output*
/output-ubuntu-consul
/output-vmware-windows-iso
/packer_cache
/.aptcache
/*.box
/*.ISO
/*.iso
/*.ova
/*.OVA
/*.ovf
/*.vdi
/*.vmdk
/*.OVF
/*.VDI
/*.VMDK
build-ami-import.sh
build-ami.sh
build-do.sh
build-packer.sh
build-ubuntu.sh
/.vagrant
